@using HtmlHelperEx.Models
@model UserData
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h4>Use HTML Helper Classes to Bind Data with TextBoxes in Asp.Net MVC View</h4>
    <div>
        @using (Html.BeginForm("Index", "UserHome", FormMethod.Post))
        {
            <table border="1" bgcolor="pink">
                <tr><td>Username</td><td>@Html.TextBoxFor(m => m.uname)</td></tr>
                <tr><td>City</td><td>@Html.TextBoxFor(m => m.city)</td></tr>
                <tr><td colspan="2"><input type="submit" id="submit" value="Submit Data" /></td></tr>
            </table>


        }
        <hr />
        <table border="1" bgcolor="yellow">
            <tr><td>Username</td><td>@Html.DisplayFor(m => m.uname)</td></tr>
            <tr><td>City</td><td>@Html.DisplayFor(m => m.city)</td></tr>
        </table>
    </div>
</body>
</html>
