@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/jquery/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function () {


            $("#button1").click(function () {
                var rollno = $("#txt1").val();
                var sname = $("#txt2").val();
                var fname = $("#txt3").val();
                var mname = $("#txt4").val();

                $.getJSON("/api/SaveData?rollno=" + rollno + "&sname=" + sname + "&fname=" + fname + "&mname=" + mname, function (data) {
                    $("#result").text(data);
                    $("#txt1").val("");
                    $("#txt2").val("");
                    $("#txt3").val("");
                    $("#txt4").val("");
                })

            })
        })
    </script>
</head>
<body>
    <div>
        <h4>Implement WEB API to Save Data into Database Asp.Net MVC</h4>
        <table border="1" bgcolor="skyblue" width="450" height="300">
            <tr>
                <td>Roll Number</td>
                <td><input type="text" name="rollno" id="txt1" value="" /></td>

            </tr>
            <tr>
                <td>Student Name</td>
                <td><input type="text" name="sname" id="txt2" value="" /></td>
            </tr>
            <tr>
                <td>Father Name</td>
                <td><input type="text" name="fname" id="txt3" value="" /></td>
            </tr>
            <tr>
                <td>Mother Name</td>
                <td><input type="text" name="mname" id="txt4" value="" /></td>
            </tr>
            <tr>
                <td colspan="2"><input type="button" name="sum" id="button1" value="Save Data" /></td>



            </tr>
        </table>
        <br />

        <span id="result" />

    </div>
</body>
</html>
